.shell-window {
    border-radius: 8px;
    background-color: transparent;
}

.flyout-window {
    padding: 6px;
    border-radius: 8px;
    background-color: rgba(252, 252, 252, 0.85);
    border: 1px solid rgba(117, 117, 117, 0.4);
}

.taskbar {
    background-color: rgba(243, 243, 243, 0.7);
    border: 1px solid rgba(117, 117, 117, 0.4);
    border-radius: 8px;

    .widgets {
        background-color: orange;
    }
}

.system-tray {
    padding: 4px;

    .power-ctl {
        background-image: -gtk-icontheme('system-shutdown-symbolic');
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center;
        color: black;
    }
}

.keyboard-layout {
    padding-left: 4px;
    padding-right: 4px;
    font-size: 16px;
}

.wallclock {
    label {
        padding-left: 4px;
        padding-right: 4px;
    }
}

.workspace-list {
    padding: 4px;

    flowbox {
        flowboxchild {
            padding: 0px;
        }
    }

    label {
        font-size: 20px;
    }
}

.window-list {
    padding: 4px;

    flowbox {
        flowboxchild {
            padding: 0px;
        }
    }
}

.taskbar-item {
    border: 1px solid transparent;
    border-radius: 5px;
    background-clip: padding-box;
    background-color: transparent;
    padding: 0;

    .status {
        border-radius: 3px;
        opacity: 0;

        &.active {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.3614);
        }

        &.focused {
            opacity: 1;
            background-color: rgba(0, 95, 184, 1);
        }
    }

    &.highlighted {
        border-color: rgba(0, 0, 0, 0.16);
        background-color: rgba(255, 255, 255, 0.5);
    }

    &:hover {
        border-color: rgba(0, 0, 0, 0.16);
        background-color: rgba(255, 255, 255, 0.7);
    }

    &:focus {
        outline: none;
    }
}

.notifications-window {
    background-color: transparent;

    listview {        
        row {
            background-color: transparent;
        }
    }


    .notification {
        padding: 4px;
        background-color: rgba(224, 238, 248, 0.9);
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.16);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.11);
        font-size: 16px;
    }
}

list {
    row {
        color: black;
        border-radius: 3px;
        font-size: 16px;
    }
}

label {
    color: black;
}
