window {
    border-radius: 8px;
    background-color: transparent;
}

.taskbar {
    background-color: rgba(243, 243, 243, 0.7);
    border: 1px solid rgba(117, 117, 117, 0.4);
    border-radius: 8px;

    .widgets {
        background-color: orange;
    }

    .system-tray {
        background-color: violet;
    }
}

.workspace-list {
    padding: 4px;

    label {
        color: black;
        font-size: 20px;
    }
}

.taskbar-item {
    border: 1px solid transparent;
    border-radius: 5px;
    background-clip: padding-box;
    background-color: transparent;
    padding: 0;

    .status {
        border-radius: 3px;
        opacity: 0;

        &.active {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.3614);
        }

        &.focused {
            opacity: 1;
            background-color: rgba(0, 95, 184, 1);
        }
    }

    &.highlighted {
        border-color: rgba(0, 0, 0, 0.16);
        background-color: rgba(255, 255, 255, 0.5);
    }

    &:hover {
        border-color: rgba(0, 0, 0, 0.16);
        background-color: rgba(255, 255, 255, 0.7);
    }
    
    &:focus {
        outline: none;
    }
}
